@media screen and ( max-width:1117px ) {

  section:nth-child(2) .text,
  section:nth-child(6) .text {
    right: 0;
  }

  section:nth-child(2) .image,
  section:nth-child(6) .image {
    left: 20px;
  }

  section:nth-child(3) .text,
  section:nth-child(7) .text {
    right: auto;
  }

  section:nth-child(3) .image,
  section:nth-child(7) .image {
    left: auto;
    right: 20px;
  }

}

@media screen and ( max-width:768px ) {
  
  header {
    height: 80px;
  }
  h1 {
    font-size: 7rem;
    padding-left: 30px;
  }

}


@media screen and ( max-width:576px ) {

  /* 改行 */
  .br::before {
    content: "\A" ;
    white-space: pre ;
  }

  header {
    height: 55px;
  }

  h1 {
    font-size: 5rem;
    padding-left: 30px;
  }

  main .container {
    padding: 50px 20px;
  }

  section {
    width: 340px;
    height: 330px;
    margin-bottom: 50px;
  }

  .bg {
    width: 300px;
    top: 0;
    left: 0;
    transform: translateY(0%);
  }

  .bg.slideDown {
    height: 270px;
  }

  h3 {
    top: 0;
    padding: 20px;
  }

  .image {
    top: auto;
    right: 0;
    bottom: 0;
    transform: translateY(0%);
    height: 200px;
  }

  .image.slideIn {
    width: 300px;
  }

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 146px;
  }

  .left .bg {
    left: auto;
    right: 0;
  }
  
  .left .image {
    left: 0;
  }

  section:nth-child(2) .bg,
  section:nth-child(6) .bg {
    left: auto;
    right: 0;
  }

  section:nth-child(2) .image,
  section:nth-child(6) .image {
    left: 0;
  }

  section:nth-child(3) .bg,
  section:nth-child(7) .bg {
    right: auto;
  }

  section:nth-child(3) .image,
  section:nth-child(7) .image {
    right: 0;
  }
}